.divheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0%;
}

.divlogo {
    padding-top: 44px;
}

.logo {
    
    width: 61.09px;
    height: 19px;
}

* {
    max-width: 1400px;
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Desktop {
    top: 0px;
    width: 162px;
    height: 2px;
}

.hebergement {
  
    padding-top: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #000000;
}

.selectable:link {
    text-decoration:none;
    color: #000000;
}

.selectable:visited {
    text-decoration:none;
    color: #000000;
}



.hebergAction :hover {
    color: #0065FC;
    font-weight: 500;
}

.hebergAction:hover .Desktop {
    background: blue;
}

.activity {

    padding-top: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #000000;
}

h1 {
    font-weight: bold;
}
body {
    margin-left: 55px;
}

.title {
    margin-top: 63px;

}

.titlebody {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.SubTitleBody {
    padding-left: 44px;
    padding-bottom: 46px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.footer {

    margin-top: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}








.search {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    width: 700px;
    height: 50px;
}

.flexstylelogo {
    order: 1;
    height: 50px;
    width: 49px;
    right: 84.94%;
    z-index: 1;

    background: #F2F2F2;

    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.flexlogo {
    margin-top: 15px;
    margin-left: 18px;

    
}

.flexborder {
    order: 2;
    width: 252px;
    height: 50px;

    background: #FFFFFF;

    border: 1px solid #F2F2F2;
    outline: none; 
}

.flextext {

    margin-left: 10%;
    margin-top: 5%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: none;
    color: #000000;
}

.flextext:focus {
    outline:  none;
}


.flexsearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    order: 3;

    
    width: 132px;
    height: 49px;
    left: 341px;
    top: 200px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.buttonsearch {
    width: 100px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    background-color: #0065FC;
    border: none;
    flex-grow: 0;  
    order: 1;
}

.hide {
    display: none;
}




.filter {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 34px;
    width: 914px;
    height: 50px;
    margin-top: 60px;
}

.filterText {
    
    padding-top: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-left: 7px;
    color: #000000;  
}

.FilterBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 34px;
}

.borderfilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.borderFilter1 {
    margin-left: 7px;
    width: 175px;
    height: 48px;
}

.borderFilter2 {
    width: 136px;
    height: 48px;
}

.borderFilter3 {
    width: 172px;
    height: 48px;
}

.borderFilter4 {
    width: 226px;
    height: 48px;
}

.borderFilterAction:hover {
    background: #DEEBFF;
}

.borderfilterClick {
    box-sizing: border-box;

    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #DEEBFF;

    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.LogoFilter {
    color: #0065FC;
}

.TextFilter {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.FlexInfo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 11px;
    margin-top: 35px;
    margin-left: 35px;
}

.BorderInfo {
    margin-bottom: 20px;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.Center {
    margin-top: 10px;
    margin-left: 8px;
}

.announce {
    width: 412px;
    height: 19px;
    
    margin-top: 3px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    color: #000000;
}

.DisplayBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 1340px;
    height: 626px;
    margin-top: 39px;
}

.ResultSearch {
    width: 65%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 23px;

    padding-top: 42px;
    background: #F2F2F2;
    border-radius: 20px;
}

.titlesearch {
    margin-left: 40px;
}

.ShowResult {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 31px; 
    margin-left: 40px;

}

.Card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.image {
    box-sizing: border-box;

    height: 130px;
    width: 245px;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.TitleCard {
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 36px);

    padding-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.Price {
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 60px);

    padding-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.position {
    padding-left: 16px;
    padding-bottom: 11px;
}


.Top {

    width: 32%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;

    
    background: #F2F2F2;
    border-radius: 20px;
}

.DisplayTop {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
}

.FirstLigne {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 118px;
}

.TitleTop {
    padding-top: 41px;
    margin-left: 37px;
}

.chart {
    padding-top: 46px;
    padding-right: 42px;
}

.TopChamber {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    height: 145px;

    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 37px;
    margin-right: 40px;
}

.TopPicture {
    box-sizing: border-box;

    width: 137px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.BoxTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex-flow: column wrap;
    margin-bottom: 10px;
}

.LittleTitle {
    padding-top: 16px;
    width: 169px;
    height: 38px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.LittlePrice {
    width: 169px;
    height: 15px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.LittleStars {
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 30px;
    
}

.Space {
    margin-top: 7px;
}

.lien:link {
    text-decoration:none;
    color: #000000;
}

.lien:visited {
    text-decoration:none;
    color: #000000;
}

.BoxActivity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 18.47px; 
    padding-top: 70px;
    width: 1340px;
}

.TitleActivity {
    width: 212px;
    height: 30.02px;
    left: 50px;
    top: 1112px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.ResultBoxActivity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 43px;
}

.ShowActivityBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 302px;
    max-width: 302px;
    height: 446px;
    left: 50px;
    top: 1160.49px;

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.PictureActivity {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 389px;
    width: 302px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.SubBoxActivity {
    height: 56px;
    left: 0%;
    right: 0%;
    bottom: -0.49px;

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.TextActivity {
    width: 247px;
    height: 15px;
    margin-left: 19px;
    padding-top: 20px;

    font-weight: bold;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.FooterBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 235px;

    left: 3.33%;
    right: 3.68%;
    top: 0%;
    bottom: -10.84%;
    width: 1340px;
    height: 220px;
    margin-top: 61px;
    padding-left: 70px;
    padding-top: 45px;

    background: #F2F2F2;
}

.SubTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 8px;

    color: #000000;
}

.TextFooter {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    color: #000000;
}

.FooterBoxFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
}

@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablette */
    * {
        max-width: 992px;
    }
    .FilterBox {
        gap: 15px;
    }
    .filter {
        gap: 15px;
        width: 850px;
        height: 48px;
        margin-top: 32px;
    }
    .filterText {
        margin-left: 0px;
    }
    .borderFilterAction {
        margin-left: 5px;
    }
    .FlexInfo {
        margin-left: 0px;
    }
    .DisplayBody {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 53px;
        max-width: 800px;
        height: 969px;
        display: flex;
    }
    .ResultSearch {
        width: 100%;
        
    }
    .ShowResult {
        gap: 13px;
        margin-left: 20px;
    }
    .titlesearch {
        margin-left: 20px;
    }
    .Top {
        gap: 26px;
        height: 280px;
        width: 100%;
    }
    .DisplayTop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 20px;
    }
    .chart {
        padding-top: 39px;
        padding-right: 40px;
    }
    .TitleTop {
        padding-top: 34px;
        margin-left: 20px;
    } 
    .FirstLigne {
        justify-content: space-between;
    }
    .TopChamber {
        gap: 10px;
    
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        height: 145px;
        width: 240px;

        margin-left: 0px;
        margin-right: 0px;
    }
    .TopPicture {
        width: 106px;
    }
    .LittleTitle {
        padding-top: 12px;
        width: 111px;
        height: 32px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    .Space {
        margin-top: 0px;
    }
    .LittlePrice {
        width: 130px;
        height: 32px;
        margin-top: 15px;
        font-size: 13px;
        line-height: 15px;
    }
    .LittleStars {

        margin-top: 15px;
        
    }
    .BoxTop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    .BoxActivity {
        gap: 18.47px; 
        padding-top: 70px;
        width: 100%;
    }
    .ResultBoxActivity {
        gap: 25px;
    }
    .ShowActivityBox {
        width: 182px;
        max-width: 182px;
        height: 267px;
        left: 0px;
        top: 1160.49px;
    
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .PictureActivity {
        height: 211px;
        width: 182px;
    }
    .SubBoxActivity {    
        width: 182px;
    }
    .TextActivity {
        width: 182px;
        height: 15px;
        margin-left: 19px;
        padding-top: auto;
        font-weight: bold;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    
        color: #000000;
    }
    .FooterBox {
        gap: 70px;
        max-width: 800px;
        width: 100%;
        height: 220px;
        margin-top: 61px;
        padding-left: 70px;
        padding-top: 45px;
    }
}


@media screen and (max-width: 768px) { /* Mobile */
    * {
        max-width: 768px;
    }
    body {
        margin-left: 0px;
    }
    .divheader {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 49px;
    }
    .divlogo {
        margin-top: 21px;
        margin-left: 157px;
    }
    .action {
        justify-content: flex-start;
    }
    .Desktop {
        display: none;
    }
    .hebergAction:hover .Mobile {
        background: blue;
    }
    .Mobile {
        margin-top: 23px;
        width: 187px;
        height: 3px;
        background: #F2F2F2;
    }
    .hebergement {       
        padding-top: 0px;
    }
    .activity {
        padding-top: 0px;
    }
    .title {
        margin-top: 31px;
        margin-left: 20px;
        width: 298px;
    
    }
    .footer {
        margin-top: 13px;
        margin-left: 20px;
    }
    .search {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 36px;
        width: 332px;
        height: 50px;
        padding-left: 22px;
    } 
    .flexlogo {
        margin-top: 15px;
        margin-left: 18px;       
    }
    .flexborder {
        width: 232px;
    }
    .flextext {
        margin-left: 0%;
        margin-top: 5%;
    }
    .flexsearch {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
        order: 3;
        width: 50px;
        height: 49px;
        left: 341px;
        top: 200px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }
    .buttonsearch {
        width: 15px;
        height: 15px;
        padding-top: 0px;
    }
    .hide {
        display: content;
    }
    .hide2 {
        display: none;
    }
    .filter {
        gap: 15px;
        width: 335px;
        height: 160px;
        margin-top: 34px;
        margin-left: 20px;
    }
    .FilterBox {
        flex-direction: row;
        gap: 14px;
    }
    .borderfilter {
        justify-content: flex-start;
        padding-left: 13px;
        gap: 5px;
    } 
    .borderFilter1 {
        margin-left: 0px;
        width: 160px;
        height: 50px;
    }
    .borderFilter2 {
        width: 160px;
        height: 50px;
    }
    .borderFilter3 {
        width: 160px;
        height: 50px;
    }
    .borderFilter4 {
        width: 160px;
        height: 50px;
    }
    .TextFilter {
        font-size: 11px;
        line-height: 13px;
    }
    .FlexInfo {
        flex-direction: column;
        gap: 11px;
        margin-top: 40px;
        margin-left: 20px;
        width: 350px;
        height: 50px;
    }
    .announce {
        width: 298px;
        margin-top: 3px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
    
        color: #000000;
    }
    .Top {
        order: 1;
        width: 375px;
        height: 590px;
        gap: 11px;
        border-radius: 0px;
    }
    .FirstLigne {
        justify-content: space-between;
        gap: 54px;
        padding-bottom: 15px;
    }
    .Space {
        margin-top: 0px;
    }
    .TitleTop {
        padding-top: 28px;
        margin-left: 20px;
    }
    .chart {
        padding-top: 35px;
        padding-right: 21px;
    }
    .TopChamber {
   
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        height: 145px;
    
        background: #FFFFFF;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .LittlePrice {
        margin-top: 15px;
    }
    .LittleStars {
        margin-top: 15px;  
    }
    .ResultSearch {
        flex-direction: row;
        order: 2;
        width: 375px;
        height: 1400px;
        gap: 19px;
    
        padding-top: 26px;
        background: #FFFFFF;
        border-radius: 0px;
    }
    .titlesearch {
        margin-left: 20px;
    }
    .ShowResult {
        gap: 12px; 
        margin-left: 20px;
    }
    .Card {
        justify-content: flex-start;
        height: 199px;
        gap: 5px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .image {
        box-sizing: border-box;
    
        height: 124px;
        width: 335px;
        object-fit: cover;
    
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 0px 0px;
    }
    .DisplayBody {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
        width: 380px;
        height: 100%;
    }
    .SubTitleBody {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .position {
        padding-left: 16px;
        padding-bottom: 11px;
    }
    .BoxActivity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 18.47px; 
        padding-top: 90px;
        width: 380px;
    }
    .TitleActivity {
        width: 150px;
        height: 50px;
        margin-left: 20px;
    }
    .ResultBoxActivity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;
        margin-left: 20px;
    }
    .ShowActivityBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 334px;
        max-width: 334px;
        height: 190px;
        max-height: 190px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .PictureActivity {
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 134px;
        width: 334px;
    }
    .FooterBox {
        flex-direction: column;
        gap: 40px;
        width: 375px;
        height: 501px;
        margin-top: 80px;
        padding-left: 30px;
        padding-top: 45px;
        background: #F2F2F2;
    }
}