/* Info Box */

.FlexInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 11px;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 0px;
}
.BorderInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.announce {
    width: 412px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}



/* Article Box */

.DisplayBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 1340px;
    height: 626px;
    margin-top: 19px;
    margin-bottom: 0px;
    
}
.ResultSearch {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 23px;
    padding-top: 42px;
    padding-bottom: 0px;
    background: #F2F2F2;
    border-radius: 20px;
}
.titlesearch {
    padding-left: 40px;
    padding-right: 555px;
}
.ShowResult {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px; 
}
.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 11px;
    padding-top: 0px;
}
.image {
    box-sizing: border-box;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.TitleCard {
    width: 204px;
    padding-left: 16px;
    padding-right: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.Price {
    width: 204px;
    padding-left: 16px;
    padding-right: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2px;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 134px;
    width: 88px;
    height: 15px;
    /*
    margin-bottom: 11px;
    margin-top: 0px; */
}
.SubTitleBody {
    padding-left: 44px;
    padding-right: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.Top {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    background: #F2F2F2;
    border-radius: 20px;
}
.FirstLigne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 118px;
    padding-left: 37px;
    padding-right: 42px;
    padding-top: 41px;
    padding-bottom: 0px;
    
}
.DisplayTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    padding-left: 37px;
    padding-right: 40px;
}
.TopChamber {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    height: 145px;
    background: #FFFFFF;
    border-radius: 20px;
}
.TopPicture {
    box-sizing: border-box;
    left: 0px;
    top: 0%;
    bottom: 0%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.BoxTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    height: 144px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.LittleTitle {
    width: 169px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;

    flex-grow: 0;
}
.LittlePrice {
    width: 169px;
    height: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;

    flex-grow: 0;
}
.LittleStars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
    height: 70px;
    padding-bottom: 7px;
    padding-top: 0px;
}
.Space {
    margin-top: 7px;
    margin-bottom: 0px;
}