.divheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.divlogo {
    padding-top: 44px;
    padding-bottom: 43px;
}
.logo {
    width: 61.09px;
    height: 19px;
}
a {
    text-decoration: none;
    color: #000000;
  }
.boutton {
  display: flex;
  justify-content: flex-end;
}
.MenuBoutton {
  text-decoration: none;
  padding: 46px;
  background: linear-gradient(
      to bottom,
      #0065fc 0%,
      #0065fc 2px,
      transparent 0px
    )
    no-repeat;
  background-size: 0 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
} 
.MenuBoutton:hover {
  background-size: 100% 100%;
}
ul {
  list-style-type: none;
}
.colorchange1:hover .colorHeberg {
  color: #0065FC;
  font-weight: 500;
}
.colorchange2:hover .colorActivity {
  color: #0065FC;
  font-weight: 500;
}
