@media screen and (max-width: 767px) { /* Mobile */
    body {
        max-width: 768px;
        min-width: 0;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .divheader {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-width: 375px;
    }
    .divlogo {
        padding-top: 21px;
        padding-bottom: 0px;
    }
    .logo {
        width: 61.09px;
        height: 19px;
    }
    .boutton {
        width: 100%;
        justify-content: space-between;
    }
    .MenuBoutton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 23px;
        width: 100%;
        text-decoration: none;
        background: linear-gradient(
            to top,
            #F2F2F2 0%,
            #F2F2F2 2px,
            transparent 3px
        )
        no-repeat;
        background-size: 100% 100%;
    }
    .MenuBoutton:hover {
        background: linear-gradient(
            to top,
            #0065fc 0%,
            #0065fc 2px,
            transparent 3px
        )
        no-repeat;
    }
    .sectionForm {
        min-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        gap: 13px;
        margin-top: 31px;
        margin-bottom: 20px;
    }
    .ResFull {
        width: 100%;
    }
    .search {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 11px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 50px;
        min-width: 375px;
    }
    .flexstylelogo {
        order: 0;
    }
    .flexborder {
        width: 80%;
        height: 50px;
        background: #FFFFFF;
        order: 0;
    }
    .flextext {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: left;
        border: none;
        color: #000000;
    }
    .flexsearch {
        order: 0;
    }
    .buttonsearch {
        width: 50px;
        height: 50px;
        border-radius: 0px 15px 15px 0px;
    }
    .hide {
        display: contents;
    }
    .hide2 {
        display: none;
    }
    .filter { 
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
        height: 154px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ResFilter {
        width: 45%;
        min-width: 160px;
    }
    .FilterBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 335px;
        gap: 17px 14px;
    }
    .borderfilter {
        justify-content: flex-start;
        gap: 14px;
        padding-left: 13px;
        padding-right: 0px;
    }
    .borderFilter1 {
        margin-left: 0px;
        margin-right: 0px;
        min-width: 160px;
        width: 100%;
        height: 50px;
    }
    .borderFilter2 {
        min-width: 160px;
        width: 100%;
        height: 50px;
    }
    .borderFilter3 {
        min-width: 160px;
        width: 100%;
        height: 50px;
    }
    .borderFilter4 {
        min-width: 160px;
        width: 100%;
        height: 50px;
    }
    .TextFilter {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .FlexInfo {
        width: 100%;
        min-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 11px;
        flex-wrap: nowrap;
    }
    .BorderInfo {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: 1px solid #D9D9D9;
        border-radius: 20px;
    }
    .announce {
        
        height: 40px;
    }
    .DisplayBody {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
        height: 2100px;
        margin-top: 19px;
        margin-bottom: 0px;
        
    }
    .Top {
        order: 1;
        width: 100%;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 26px;
        background: #F2F2F2;
        border-radius: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .FirstLigne {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding-left: 37px;
        padding-right: 42px;
        padding-top: 41px;
        padding-bottom: 0px; 
    }
    .DisplayTop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 26px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .ResultSearch {
        order: 2;
        width: 100%;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 19px;
        padding-top: 26px;
        padding-bottom: 0px;
        background: #FFFFFF;
        border-radius: 0px;
    }
    .titlesearch {
        padding-left: 20px;
        padding-right: 0px;
    }
    .ShowResult {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Card {
        width: 100%;
        height: 200px;
    }
    .image {
        width: 100%;
        height: 124px;
        box-sizing: border-box;
        object-fit: cover;
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 0px 0px;
    }
    .SubTitleBody {
        padding-left: 44px;
        padding-right: 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    .BoxActivity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 23px; 
        margin-top: 60px;
        margin-bottom: 60px;
        width: 100%;
        min-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .TitleActivity {
        width: 150px;
        height: 30px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }
    .ResultBoxActivity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;
    }
    .ShowActivityBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 190px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .PictureActivity {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .FooterBox {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
        min-width: 375px;
        height: 500px;
        margin-top: 1px;
        margin-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 45px;
        padding-bottom: 53px;
        background: #F2F2F2;
    }
}