@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablette */
    body {
        max-width: 992px;
        margin: 0 50px;
    }
    .divheader {
        width: 900px;
    }
    .flextext {
        text-align: left;
    }
    .filter {
        gap: 17px;
    }
    .FilterBox {
        gap: 22px;
    }
    .FlexInfo {
        padding-left: 0px;
        padding-right: 0px;
    }
    .DisplayBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 53px;
        width: 885px;
        height: 960px;
        margin-top: 19px;
        margin-bottom: 0px; 
    }
    .ResultSearch {
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 23px;
        padding-top: 42px;
        padding-bottom: 0px;
        background: #F2F2F2;
        border-radius: 20px;
    }
    .ShowResult {
        gap: 30px 31px; 
    }
    .SubTitleBody {
        margin-top: 17px;
        margin-bottom: 0px;
    }
    .Top {
        width: 100%;
        height: 278px;
    }
    .DisplayTop {
        flex-direction: row;
        gap: 23px;
        padding-left: 40px;
        padding-right: 41px;
    }
    .LittleTitle {
        width: 111px;
        font-size: 14px;
        line-height: 16px;
    }
    .LittlePrice {
        width: 130px;
        font-size: 13px;
        line-height: 15px;
    }
    .TopPicture {
        width: 106px;
        height: 144px;
    }
    .BoxActivity {
        margin-top: 70px;
        gap: 34px; 
        width: 880px;
    }
    .ResultBoxActivity {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 50px;
    }
    .ShowActivityBox {
        width: 182px;
        height: 267px;
    }
    .PictureActivity {
        height: 211px;
        width: 182px;
    }
    .SubBoxActivity {
        padding-left: 19px;
        padding-right: 24px;
        align-items: center;
        height: 56px;
        width: 182px;
    }
    .TextActivity {
        width: auto;
        height: auto;
    }
    .FooterBox {
        gap: 82px;
        width: 880px;
        height: 225px;
        padding-left: 70px;
        padding-right: 150px;
    }
}